#texto_novedades {
    /*margin-right: 350px;
    margin-left: 350px;
    height: 75px;
    text-align: center;*/
    font-family: 'Merienda One', cursive;
    font-size: large;
    text-shadow: 2px 2px rgb(141, 211, 164);
    display: flex;
    justify-content: center;
    text-align: center;
}

#foto_novedades {
    display: flex;
    justify-content: center;
}

.proximos_sabores {
    font-family: 'Merienda One', cursive;
    font-size: large;
    text-shadow: 2px 2px rgb(141, 211, 164);
    display: flex;
    justify-content: center;
}

.GUSTOS{
    display: flex;
    justify-content: center;
    text-align: center;
}

#MEN{margin-right: 75px;text-shadow:none;}
#NAR{margin-right: 45px;text-shadow:none;}
