.contenedor_sabores {
display: flex;
flex-wrap: wrap;
text-align: center;
border-radius: 8px;
justify-content: center;
}
 
.contenedor_sabores > div {
    width: 1000px;   
    margin: 10px;   
    text-align: center;
    font-size: 20px;
    line-height: 50px;   
    border: 2px solid; 
    border-radius: 8px;
}

.categoria_sabores{
    background-color: rgb(32, 29, 25);
    color: rgb(128, 211, 156);
    font-family: 'Merienda One', cursive;
}
 
.GUSTOS ul li {
display: inline-block;
border: 1px solid;
font-family: 'Merienda One', cursive;
border-radius: 8px;
}   

#DDLFIORE,#FRUTCREMA,#AME{font-size: 16px;}   
    
#GRA,#FRU{margin-top: 4px;}
